/*Projeto Jhenifer Modelo
----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
 /* navegação principal */
.navbar {
    position: stycky;
    z-index: 500;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar.stycky {
    padding: 15px 0;
    background-color:#00ff00;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color:#00ff00;
    transition: all 0.3s ease;
}
.navbar.stycky .logo a span {
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color:#00ff00;
}
.navbar.stycky .menu li a:hover {
    color: rgb(255, 250, 250);
    border-bottom: 1px solid #fff;
}
.reders-sociais {
    display: none;
}
/*
******** Navegação Mobile **********
*/
#nav-toggle{
    z-index:11;
    padding:15px;
    right:0;
    top:0;
    border-radius:8px;
    -webkit-transition:all .4s ease;
    transition:all .3s ease;
  }
  #nav-toggle span{
    border-radius:1px;
    background:#fff;
    height:2px;
    width:30px;
    display:block;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-transition:all .4s ease;
    transition:all .4s ease
  }
  #nav-toggle span:nth-child(2){
    margin:6px 0
  }
  #nav-toggle.active span:nth-child(1){
    -webkit-transform:rotate(45deg) translate3d(6px,6px,0);
    transform:rotate(45deg) translate3d(6px,6px,0)
  }
  #nav-toggle.active span:nth-child(2){
    opacity:0
  }
  #nav-toggle.active span:nth-child(3){
    -webkit-transform:rotate(-45deg) translate3d(6px,-5px,0);
    transform:rotate(-45deg) translate3d(6px,-5px,0)
  }
  #nav-mobile {
    transition: all .5s;
  }
 /* Menu Mobile */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.btn-cima {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color:#00ff00;
    right: 20px;
    bottom: 5px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 250;
    font-size: 30px;
    border-radius: 21px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.btn-cima.show {
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}
/* Para Todos as Seções */
section {
    padding: 100px 0;
}
.sobre,.servicos,.habilidades,.equipe,.contato,footer {
    font-family: 'Poppins',sans-serif;
}
.sobre .sobre-content,
.servicos .servicos-content,
.habilidades .habilidades-content,
.contato .contato-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}
section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:#00ff00;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* Seção home */
.home {
    display: flex;
    background: url('../img/jhenifer5.jpg') no-repeat top left;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.home .max-width {
    margin:  auto 0 auto 40px;
}
.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color:#00ff00;
    font-weight: 500;
}
.home .home-content a {
    display: inline-block;
    background-color:#00ff00;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid#00ff00;
    transition: all 0.3s ease;
}

.home .home-content a.btn-sobre {
    background-color:rgb(248, 247, 248);
    color: #00ff00;
    border: 2px solid#fff;
    transition: all 0.3s ease;
}

.home .home-content a.btn-sobre:hover {
    background: none;
    color:#fff;
}
.home .home-content a:hover {
    background: none;
    color:#00ff00;
}
a.rede:hover {
    transform: scale(1.6);
}


/* Seção Sobre */
.sobre .title::after {
    content: 'quem eu sou';
}
.sobre .sobre-content .left {
    width: 45%;
}
.sobre .sobre-content .left img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 6px;
}
.sobre .sobre-content .right {
    width: 55%;
}
.sobre .sobre-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sobre .sobre-content .right .text span {
    color:#00ff00;
}
.sobre .sobre-content .right p,.habilidades .habilidades-content .left p {
    text-align: justify;
}
.sobre .sobre-content .right a,.habilidades .habilidades-content .left a {
    display: inline-block;
    background-color:#00ff00;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid#00ff00;
    transition: all 0.3s ease;
}
.sobre .sobre-content .right a:hover,.habilidades .habilidades-content .left a:hover {
    background: none;
    color:#00ff00;
}

/* Seção Servições */
.servicos,.equipe {
    color: #fff;
    background-color: #111;
}
.servicos .title::before,.equipe .title::before  {
    background-color: #fff;
}
.servicos .title::after {
    background-color: #111;
    content: 'o que eu forneço';
}
.servicos .servicos-content .card {
    width: calc(33% - 20px);
    background-color: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.servicos .servicos-content .card:hover {
    background-color:#00ff00;
}
.servicos .servicos-content .box {
    transition: all .3s ease;
}
.servicos .servicos-content .card:hover .box {
    transform: scale(1.05);
}
.servicos .servicos-content .card i {
    font-size: 50px;
    color:#00ff00;
    transition: color 0.3s ease;
}
.servicos .servicos-content .card:hover i {
    color: #fff;
}
.servicos .servicos-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Seção Habilidades */
.habilidades .title::after {
    content: 'O que eu sei';
}
.habilidades .habilidades-content .column {
    width: calc(50% - 30px);
}
.habilidades .habilidades-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.habilidades .habilidades-content .left a {
    font-size: 18px;
    padding: 8px 16px;
}
.habilidades .habilidades-content .right .bars {
    margin-bottom: 15px;
}
.habilidades .habilidades-content .right .info {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}
.habilidades .habilidades-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.habilidades .habilidades-content .right .line::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#00ff00;
}
.habilidades-content .right .html::before {
    width: 90%;
}
.habilidades-content .right .css::before {
    width: 60%;
}
.habilidades-content .right .js::before {
    width: 80%;
}
.habilidades-content .right .php::before {
    width: 50%;
}
.habilidades-content .right .mysql::before {
    width: 70%;
}

/* Seção Equipe */
.equipe .title::after {
    content: 'Quem está comigo';
    background-color: #111;
}
.equipe .carousel .card {
    background-color: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.equipe .carousel .card:hover {
    background-color:#00ff00;
}
.equipe .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.equipe .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    transition: all 0.3s ease;
}
.equipe .carousel .card:hover .box {
    transform: scale(1.05);
}
.equipe .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid#00ff00;
    transition: all 0.3s ease;
}
.equipe .carousel .card:hover img {
    border-color:#fff;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid#00ff00!important;
    transition: all 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,.owl-dot:hover {
    background:#00ff00!important;
}

/* Seção Contato */
.contato .title::after {
    content: 'Entrar em contato';
}
.contato .contato-content .column {
    width: calc(50% - 30px);
}
.contato .contato-content .column .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contato .contato-content .column .left p {
    text-align: justify;
}
.contato .contato-content .column .left .icons {
    margin: 10px 0;
}
.contato .contato-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contato .contato-content .row .info {
    margin-left: 30px;
}
.contato .contato-content .row i {
    font-size: 25px;
    color:#00ff00;
}
.contato .contato-content .row .head {
    font-weight: 500;
}
.contato .contato-content .row .sub-title {
    color: #333;
}
.contato .right form .fields {
    display: flex;
}
.contato .right form .field,
.contato .right form .field .fields {
    height: 45px;
    width: 100%;
    margin-top: 15px;
}
.contato .right form .textarea {
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
}
.contato .right form .name {
    margin-top: 10px;
}
.contato .right form .email {
    margin-left: 10px;
    margin-top: 10px;
}
.contato .right form input,
.contato .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contato .right form .textarea textarea {
   padding-top: 10px;
   resize: none;
}
.contato .right form .button {
   height: 47px;
   width: 170px;
}
.contato .right form .button button {
   height: 100%;
   width: 100%;
   border: 2px solid#00ff00;
   background:#00ff00;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s ease;
}
.contato .right form .button button:hover {
   background: none;
   color:#00ff00;
}
/* Seção Rodapé */
footer {
    background-color: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span a {
    color:#00ff00;
}
footer span a:hover {
    text-decoration: underline;
}

 /* Dispositivos Responsivos */
 @media(max-width: 1300px) {
    .home .max-width {
        margin-left: 0;
    }
 }
 @media(max-width: 1104px) {
    .sobre .sobre-content .left img {
        width: 350px;
        height: 400px;
    }
 }
 @media(max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
 }
 @media(max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
    display: block;
    }
    .navbar {
        padding: 5px 0;
    }
    .navbar.stycky {
        padding: 10px 0;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 70px;
        transition: all .3s ease;
    }
    section .title::after {
        font-size: 17px;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .btn-cima {
        right: 5px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .sobre .sobre-content .column {
        width: 100%;
    }
    .sobre .sobre-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobre .sobre-content .right {
        flex: 100%;
    }
    .servicos .servicos-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .habilidades .habilidades-content .column,
    .contato .contato-content .column {
        width: 100%;
        margin-bottom: 25px;
    }
}
 @media(max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;  
    }
    .home .home-content a {
        font-size: 20px;
        padding: 9px 25px;
    }
    .servicos .servicos-content .card {
        width: 100%;
    }
 }
 @media(max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
      
    }
    .home .home-content a {
        font-size: 23px;
    }
}
